---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
import ContactInfo from "../components/ContactInfo.astro";
import summary from "../data/summary";

const contact = summary.contact;
const social = summary.social;
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <h1>Contact Me</h1>
    <h2>Social Media & Contact Info</h2>
    <div class="wrapper">
      <!-- Contact Info -->
      <ContactInfo />
      <!-- Social Media -->
      <Socials />
    </div>
    <h2>Get in Touch</h2>
  </div>
</Layout>

<style>
  .endorsement-text {
    font-style: italic;
  }

  @media (min-width: 1024px) {
    .wrapper {
      display: flex;
      justify-content: start;
      gap: var(--spacing-lg);
    }
  }
</style>
