---
import Layout from "../layouts/Layout.astro";
import HeroPhotoAndText from "../components/Hero/HeroPhotoAndText.astro";
import ContactForm from "../components/ContactForm.astro";
import ProgrammingLanguages from "../components/ProgrammingLanguages.astro";
import ProjectCards from "../components/Services/ProjectCards.astro";
---

<Layout title="Home Page">
  <!-- Hero Section -->
  <HeroPhotoAndText />

  <h2 class="container">Things I made...</h2>

  <ProjectCards />

  <div class="container content">
    <h2>...using these things:</h2>
    <ProgrammingLanguages coloredIcons={true} />
    <ContactForm />
  </div>
</Layout>

<style>
  .content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
