---
import Button from "./Button.astro";
---

<form name="contact" method="POST" data-netlify="true">
  <label for="form-name">Name</label>
  <input
    type="text"
    name="name"
    id="form-name"
    placeholder="Your Name"
    required
  />

  <label for="form-email">Email</label>
  <input
    type="email"
    name="email"
    id="form-email"
    placeholder="example@gmail.com"
    required
  />

  <label for="form-message">Message</label>
  <textarea
    name="message"
    id="form-message"
    placeholder="Enter your message here!"
    required></textarea>

  <Button colour="primary" hideBorder>
    <button type="submit">Send Message</button>
  </Button>
</form>

<style>
  form {
    max-width: min(450px, 95vw);
    display: grid;
    grid-template-columns: 1fr;
  }

  input,
  textarea {
    padding: 0.25rem;
    border: 2px var(--ui-border) solid;
    margin-bottom: 0.5rem;
    color: var(--ui-text-low-contrast);
  }

  label {
    color: var(--ui-text-high-contrast);
  }

  textarea {
    min-height: 6lh;
    resize: none;
    margin-bottom: 1rem;
  }

  button {
    color: black;
  }

  @media (prefers-color-scheme: dark) {
    input,
    textarea {
      background: var(--ui-element-bg);
    }
  }
</style>
